POSTGRES_DB=flatrental
POSTGRES_USER=flatrental
POSTGRES_PASSWORD=randomcharacter
JWT_KEY=replace-with-at-least-32-random-characters
DOMAIN=example.com

COMPREFACE_BASE_URL=
COMPREFACE_RECOGNITION_API_KEY=